.btnwrap {
    padding: 12px;
    background-color: var(--bg-color);
    border-radius: 8px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 13px;
    color: var(--color-main);
    border: 1px solid transparent;
    transition: 0.3s;
    cursor: pointer;
}
.outLine {
    background-color: #fff;
    padding: 12px 0px;
    &:hover {
        border-color: #fff;
    }
}
